<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;"> 
        <h1> HOME PAGE </h1>
        <form action="{% url "home" %}" method="POST">
            {% csrf_token %}
            <label >NAME</label>
            <input type="text" placeholder="NAME" name="name"><br>
            <label >PLACE</label>
            <input type="text" placeholder="PLACE" name="place" ><br>
            <label >DEPARTMENT</label>
            <input type="text" placeholder="DEPARTMENT" name="dept"><br>
            <label >TEACHERS</label>
            <input type="text" placeholder="TEACHERS" name="teac">
            <button type="submit" style="color: blue;">ADD</button>
            <a href="{% url "signin" %}" style="text-decoration: none;color:blue">BACK</a>
        </form>
    </div>

</body>
</html>